---
import "./Quizes.css";

const quizes = [
    {name : "تحدي جافاسكربت", description : "في هذا التحدي راح تواجه أسئلة برمجية بأستخدلم لغة جافاسكربت", diffculty : "hard"},
    {name : "تحدي جافاسكربت", description : "في هذا التحدي راح تواجه أسئلة برمجية بأستخدلم لغة جافاسكربت", diffculty : "easy"},
    {name : "تحدي جافاسكربت", description : "في هذا التحدي راح تواجه أسئلة برمجية بأستخدلم لغة جافاسكربت", diffculty : "medium"},
    {name : "تحدي جافاسكربت", description : "في هذا التحدي راح تواجه أسئلة برمجية بأستخدلم لغة جافاسكربت", diffculty : "medium"},
    {name : "تحدي جافاسكربت", description : "في هذا التحدي راح تواجه أسئلة برمجية بأستخدلم لغة جافاسكربت", diffculty : "easy"}
]
---
<div class="quizContainer">
    <div class="quizTitle">
        <h1 class="ar">التحديات</h1>
        <h2 class="ar" dir="rtl">قريبا...</h2>
    </div>
</div>