---
import './Home.css';
---
<div class="home">
    <div class="landing" dir="rtl">
        <div class="landingText" data-aos="fade-left">
            <div class="landingWelcome">
                <h1 class="ar"><span>أهلا وسهلا</span></h1>
            </div>
            <div class="landingInfo">
                <h1 class="ar">في منصة مرسم</h1>  
            </div>
        </div>
    </div>
    <div class="homeInfo">
        <div class="firstRow homeRow">
            <div class="homeRowImg" data-aos="fade-down">
                <img src="/icons/info.svg" alt="info icon">
            </div>
            <div class="homeRowText" data-aos="fade-right">
                <p class="ar">منصة مرسم منصة تعليمية ترفيهية مجانية</p>
            </div>
        </div>
        <div class="secondRow homeRow">
            <div class="homeRowImg" data-aos="fade-down">
                <img src="/icons/share.svg" alt="share icon">
            </div>
            <div class="homeRowText" data-aos="fade-left">
                <p class="ar">في مرسم يمكنك حساب معدلك التراكمي والفصلي عبر خانة حساب المعدل , قريبا صفحة التحديات التي تضمن أسئلة متنوعة من مجالات مختلفة</p>
            </div>
        </div>
        <div class="thirdRow homeRow">
            <div class="homeRowImg" data-aos="fade-down">
                <img src="/icons/goal.svg" alt="goal icon">
            </div>
            <div class="homeRowText" data-aos="fade-right">
                <p class="ar">الهدف من مرسم تسهيل بعض الخدمات الجامعية ونشر المعلومات بشكل ترفيهي</p>
            </div>
        </div>
    </div>
</div>