---
import './Header.css';

---
<div class="header">
    <div class="headerLogo">
        <img src="/logo.webp" alt="mrsm logo">
    </div>
    <div class="headerLinks" dir="rtl">
        <div class="headerLink">
            <a href="/" class="ar headerLinkText">الرئيسية</a>
        </div>
        <div class="headerLink">
            <a href="/gpa" class="ar headerLinkText">حساب المعدل</a>
        </div>
        <div class="headerLink">
            <a href="/quiz" class="ar headerLinkText">التحديات</a>
        </div>
    </div>
</div>