---
import "./Footer.css";
import "../../styles/index.css";
---
<div class="footer">
    <div class="footerLogo">
        <img src="/logo.webp" alt="mrsm logo">
    </div>
    <div class="footerLinksContainer" dir="rtl">
        <div class="footerLink">
            <a href="/" class="ar footerLinkText">الرئيسية</a>
        </div>
        <div class="footerLink">
            <a href="/gpa" class="ar footerLinkText">حساب المعدل</a>
        </div>
        <div class="footerLink">
            <a href="/quiz" class="ar footerLinkText">التحديات</a>
        </div>
    </div>
    <div class="footerSocial">
        <div class="footerSocialContainer">
            <div class="twitterLogo">
                <a href="https://twitter.com/MrsmSA_" target="_blank"><img src="/icons/twitter.svg" alt="twitter logo" class="footerImages"></a>
            </div>
            <div class="githubLogo">
                <a href="https://github.com/ibraKH" target="_blank"><img src="/icons/github.svg" alt="github logo" class="footerImages"></a>
            </div>
        </div>
    </div>
    <div class="footerCopyRights">
        <div class="copyrights">
            <p class="en">© 2023 MRSM. ALL RIGHTS RESERVED</p>
        </div>
    </div>
</div>